<ejs-grid
  [dataSource]="products | async"
  [editSettings]="editSettings"
  [toolbar]="toolbar"
  (dataSourceChanged)="dataSourceChanged($event)"
  (dataStateChange)="dataStateChange($event)"
  (actionBegin)="actionBegin($event)"
>
  <e-columns>
    <e-column
      field="id"
      headerText="Order ID"
      isPrimaryKey="true"
      textAlign="Left"
    >
    </e-column>
    <e-column field="CustomerID" headerText="Customer ID"> </e-column>
    <e-column field="ShipCity" headerText="Ship City"> </e-column>
    <e-column
      field="Freight"
      headerText="Price ($)"
      editType="numericedit"
      [edit]="numParams"
      format="C"
    >
    </e-column>

    <e-column field="ShipName" headerText="Ship Name"> </e-column>
    <e-column field="ShipCountry" headerText="Ship Country"> </e-column>
    <e-column
      field="Validity"
      headerText="Validity Period"
      [valueAccessor]="valueAccess"
    >
      <ng-template #editTemplate>
        <ejs-daterangepicker
          [(value)]="orderData.Validity"
          [format]="dd / MM / yyyy"
        ></ejs-daterangepicker>
      </ng-template>
    </e-column>
  </e-columns>
</ejs-grid>
